*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 
  .navbar{
    
    background: transparent;
    width:100%;
    padding: 50px 0;
    
    line-height: 20px;
  }

  .inner-width{

    max-width: 1300px;
    margin:auto;
    padding:0 60px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-family: 'Great Vibes',sans-serif;
    cursor: pointer;
    text-decoration: none;
    
  }
  .navbar-menu a{
    color: #212121;
    font-size: 13px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 35px;
    letter-spacing: 2px;
  }


  .navbar-menu a::after{
    content: '';
    display: block;
    width: 0;
    height: 1.8px;
    background-color:rgb(202, 117, 117);
    transition: width .3s;
  }
  .navbar-menu a:hover{
    /* width: 100%; */
    color: #000;
    text-decoration: underline;

  }

  #home{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #222222;
    padding: 0 100px 200px 100px;
  }
  
  
  body{
    background :linear-gradient(rgb(255, 230, 244), rgb(196, 225, 248));
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }
  .container{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 
  .content1{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }

  .title h2{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    

  }


  .image{
    background-image: url(imgg1.jpg);
    background-position: center;
    background-size: cover;
    width: 370px;
    height: 270px;
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;
  }

  .content2{
    display:flex;
    flex-direction: column;
    
    padding-left: 20px;
  }

  .content2 .image{
    background-image: url(img2.jpg);
    margin-bottom: 30px;
  }
  
   button{
    margin-top: 30px;
    border:1px solid rgb(249, 115, 184) ;
    padding: 10px 20px;
    border-radius: 8px;
    background: transparent;
    color: rgb(249, 115, 184);
    transition: .6s;

  }

  button:hover{
    background: rgb(249, 115, 184);
    cursor : pointer ;
    color: #fff ;
  }
  .title p{
    margin-bottom: 0;
    margin-top: 33px;
    font-size:14px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    letter-spacing: 1px;

  }
 
  .activenav{
    color: rgb(89, 170, 236) !important;
    font-weight: bold !important;
  }
  
/* Menu Page */
.menuBody{
  overflow: auto;
}
  .menu table{
    width: 100%;
  }
  

.menuFont{
  font-size: 20px;
  font-family: 'Great Vibes',sans-serif;
  color: rgb(104, 75, 91)
}

.paraFont{
font-size: 14px;
font-family: 'Raleway',sans-serif;
color: rgb(17, 74, 120);
}
  
  .menu table tr{
    display: flex;
    width: 100%;
  }
  
  
  .menu {
    grid-template-columns: unset !important;
  }
  
  .menu table tr td img{
     width: 100%;
     object-fit: cover; 
     height: auto;
    
  }
  
  .menu table td{
    display: grid;
    place-items: center;
    flex: 1;
  }

  .card{
    display: grid;
    place-items: center;
    height: 45vh;
    overflow: hidden;
    grid-template-rows: 2fr 1fr;
    padding: 5%;
    grid-gap: 15px;
}
.card img{
    height: 50%;
    object-fit: contain;
    
}
.card .cardImg{

  width: 50%;
  overflow: hidden;
    display: grid;
    place-items: center;
}
.card .cardContent{
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
}
  

.contain{
  position: center;
  background :linear-gradient(rgb(254, 208, 233), rgb(203, 231, 253));
  max-width: 1000px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  margin: 0 auto;
  margin-left: 250px;
}
  
.contain .title{
  font-size: 30px;
  font-family: 'Great Vibes',sans-serif;
  text-align: center;
  padding-bottom: 30px;
}
  
.contain form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  font-family: 'Raleway',sans-serif;
} 

form .user-details .input-box{
 margin-bottom: 15px;
  width: calc(100%/2 -20px);
  font-family: 'Raleway',sans-serif;
}
.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: 'Raleway',sans-serif;
}
  
.user-details .input-box .input{
   height: 45px;
   width: 100%;
   outline: none;
   border-radius: 5px;
   border: 1px solid #ccc;
   padding-left: 15px;
   font-size: 16px;
   font-family: 'Raleway',sans-serif;
  

}
.vid video{
width: 100%;

}

.vid{
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
  


.contact-us {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-us .contactinfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-us .contactinfo .box {
 position: relative;
 padding: 20px 0;
 display: flex;

}

.contact-us .contactinfo .box .icon{
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: flex;
  min-width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  font-size: 22px;
}

.contact-us .contactinfo .box .text {

  display: flex;
  margin-left:20px;
  font-size:16px;
  font-family: 'Raleway',sans-serif;
  flex-direction: column;
  font-weight: 300;
}
  
  
.contactform{
  width: 398PX;
  padding: 40px;
  background: #fff;
  font-family: 'Raleway',sans-serif;
  MARGIN-LEFT: 281PX;
  HEIGHT: 319PX;
  MARGIN-TOP: -123PX
}
  
.contactform h2{
  font-family: 'Great Vibes',sans-serif;
  font-size: 28px;
}  

.contactform .inputBox{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  margin-top:10px;
}

.contactform .inputBox input{
  padding: 5px;
}

.contactform .input-box input{ 
  width: 100%;

  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;

} 

.contact-us .contactinfo .social{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  padding-bottom: 0px;
  border-top: 1px solid #eee;
  margin-left: 287px;
  margin-top: -15px;
}
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  